.page{
    padding-left: 200px;
    padding-right: 200px;
    margin: 0;
    background-color: black;
}
@media screen and (max-width: 1050px) {
    .page {
        padding-left: 0;
        padding-right: 0;
    }
}
