
.root {
    width: 100%;
    max-width: 880px;
    min-height: 100vh;
    font-family: 'Inter-Regular', serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    margin-left: auto;
    margin-right: auto;

}

@media screen and (max-width: 1024px) {
    .root {
        padding-left: 0;
        padding-right: 0;
    }
}
