.popup__form {
    margin-top: 54px;
    position: relative;
    display: flex;
    flex-direction: column;
}
@media screen and (max-width: 1050px) {
    .popup__form {
        margin-top: 65px;
    }
}