.place-card__delete-icon{
    width: 18px;
    height: 19px;
    background-color: transparent;
    background-image: url("../../../images/icon-delete.svg");
    background-repeat: no-repeat;
    border: 0;
    position: absolute;
    top: 20px;
    right: 20px;
    transition: opacity linear .3s;
}

.place-card__delete-icon:hover{
    opacity: 60%;
}